@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #e7eaf6, #a2a8d3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bitcount Grid Double;
    font-size: 60px;
    color: white;
}

#summaryContainer {
    height: 20%;
    width: 476px;
    overflow: hidden;
    background-color: #113f67;
    font-size: 70px;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#calculator {
    height: 90%;
    background-color: rgba(56, 89, 139, 0.5);
    border-radius: 20px;
    padding: 8px;
}

.buttons {
    height: 77%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

button {
    background-color: rgba(56, 89, 139);
    color: white;
    font-size: 45px;
    border: none;
    border-radius: 10px;
    font-family: Bitcount Grid Double;
    margin: 10px;
    cursor: pointer;
}

#clear-button {
    background-color: #113f67d6;
    grid-area: 5 / -5 / 5 / -3;
}

.sign {
    background-color: #113f67d6;
}

#typewriter {
    font-size: 75px;
    color: white;
    animation: blink 1s step-end infinite;
    margin-left: -20px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: #e7eaf6;
    }
    #summaryContainer {
        width: 360px;
    }
    #calculator {
        height: 80%;
    }
}
@media only screen and (max-width: 375px) {
    #summaryContainer {
        width: 320px;
    }
    #calculator {
        height: 70%;
    }
}
@media only screen and (max-width: 320px) {
    button  {
        font-size: 30px;
    }
    #summaryContainer {
        width: 280px;
        font-size: 50px;
    }
    #typewriter {
        font-size: 50px;
        margin-left: -15px;
    }
    #calculator {
        height: 60%;
    }
}

